<a href="https://colab.research.google.com/github/sagar9926/session7-sagar9926/blob/master/Session_7_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 7 quiz

Your first and last two lines of code are:

from datetime import datetime
print(datetime.now())

Write a list comprehension expression that can generate 25 random DOB in format 11th, Jun, 1992. Take care or th, rd, st, etc (DOB between 1901 to 2020)

In [ ]:
from datetime import datetime
print(datetime.now())

2020-09-06 16:55:46.596344

In [ ]:
import datetime
import random
start_date = datetime.date(1901, 1, 1)
end_date = datetime.date(2020, 12, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days

In [ ]:
date_dict = {
1 : "st" ,
2 : "nd" , 
3 : "rd" , 
4 : "th" , 
5 : "th" , 
6 : "th" ,
7 : "th",
8 : "th",
9 : "th",
10 : "th",
11 : "th",
12 : "th",
13 : "th",
14 : "th",
15 : "th",
16 : "th",
17 : "th",
18 : "th",
19 : "th",
20 : "th",
21 : "st",
22 : "nd",
23 : "rd",
24 : "th",
25 : "th",
26 : "th",
27 : "th",
28 : "th",
29 : "th",
30 : "th",
31 : "st"
}

month_dict = {
         1 : "Jan" , 
         2 : "Feb" , 
         3 : "Mar",
         4 : "Apr",
         5 : "May",
         6 : "Jun",
         7 : "Jul",
         8 : "Aug",
         9 : "Sep",
         10 : "Oct",
         11 : "Nov",
         12 : "Dec"
        }

In [ ]:
time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days

print([str(date.day) + str(date_dict[date.day]) + "," + str(month_dict[date.month]) + "," + str(date.year) for date in [ start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for x in  range(15)]])

['8th,Mar,1924', '13th,Nov,1997', '28th,Jan,1976', '13th,Jul,1927', '22nd,Dec,1987', '26th,Oct,1924', '17th,Apr,2020', '22nd,Feb,1948', '23rd,May,2016', '5th,Feb,1924', '24th,Apr,2005', '9th,Feb,1977', '26th,Feb,1938', '19th,Dec,1952', '9th,Jan,1969']

In [ ]:
from datetime import datetime
print(datetime.now())

2020-09-06 17:02:17.734868